<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  
  <body>
  
    <header>
      <div class="">
        Logo
      </div>
      <div class="">
        navigation
      </div>
    </header>
  
    <main>
      <section>
        <form id="main-form">
          <div>
            <input id="url" type="text" placeholder="Enter a URL" required>
            <span class="error hidden">
              Please enter a valid URL
            </span>
          </div>
          <input type="submit" name="" value="submit">
        </form>
        <section>
  
        <section>
          <div id='result-container'>
            <div id='polarity'>

            </div>
            <div id='polConfidence'>

            </div>
            <div id='subjectivity'>

            </div>
            <div id='textData'>

            </div>
          </div>
        </section>
    </main>
  
    <footer>
      <p>This is a footer</p>
    </footer>
  
  </body>
  
  </html> 